/ble-spec/
/ant-spec/
/fit-spec/
/dist/
/node_modules/
/gists/
/src/simulation-scripts.js
**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/
**/.env
**/.env.*
**/.garmin_tokens/
**/build/
**/dev_cert
.cache
notes.txt
env.js
package-lock.json
.parcel-cache/

